<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Your quote</h1>
      <h2>Length: @Model.GetLength()</h2>
      <h2>Width: @Model.GetWidth()</h2>
      <h2>Height: @Model.GetHeight()</h2>
      <h2>Weight: @Model.GetWeight()</h2>
      <h2>Total Volume: @Model.Volume()</h2>
      <h2>Distance to Ship: @Model.GetDistance() miles</h2>
      <h2>Total Shipping Cost: $@Model.CostToShip()</h2>
    </div>
  </body>
</html>
